header{
    display: flex;
    justify-content: space-evenly;
}
/* styling of the entire page */
body{
    background-color: cornflowerblue;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
}
.bio_test{
    align-items: center;
}
/* borders for all containers */
.bio{
    border: 1px solid white;
    /* display: flex; */
    /* flex: wrap; */
    align-content: center;
    margin: 0.5em;
    padding: 0.5em; 
}
.committees{
    border: 1px solid white;
    padding: 0.5em;
    margin: 0.5em;
    width: 50%;
    /* text-align: center; */
}

.legislation{
    border: 1px solid white;
    padding: 0.5em;
    margin: 0.5em;
    width: 50%;
    /* text-align: center; */
}

.comm_legis{
    display: flex;
    flex: column;

}
/* Centering the headers  */
h2{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 30px;
}

img {
    min-width: 15em;
    margin: 2em;
}

.a{
    background-color: white;
    /* border: navy dotted 2px; */
    display: flex;
    margin-top: 0em;  
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
  }